<form>
	<div class="input-group" style="margin-bottom:5px">
	    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
	    <div class="input-group-btn">
	        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
	    </div>
	</div>
</form>
<input type='button' ng-click='placeOrder()' value='Place Order' id='placeOrderButton' style='margin-bottom:5px' class='btn btn-success btn-lg btn-block' />
<ul class="list-group" ng-repeat='item in items | filter:{name: searchText}'>
  <li class="list-group-item">
  	<h4 class="list-group-item-heading">{{ item.name }}
  		<span class='glyphicon glyphicon-remove-circle pull-right' ng-click='zeroQuantity($index)' style='cursor:pointer;margin-left:5px;'></span>
  		<span class="badge pull-right" ng-click='plusOne($index)' style="cursor:pointer">{{ item.quantity }}</span>
  	</h4>
  	<p class="list-group-item-text">{{ item.price | currency }}</p>
  </li>
</ul>
